apiVersion: apps/v1
kind: Deployment
metadata:
  name: profile-app
  labels:
    app: profile-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: profile-app
  template:
    metadata:
      labels:
        app: profile-app
    spec:
      containers:
        - name: profile-app
          image: ghcr.io/YOUR_GH_USER/profile-app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
          env:
            - name: DB_HOST
              value: "mariadb"          # match your DB service name
            - name: DB_PORT
              value: "3306"
            - name: DB_NAME
              value: "accounts"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: db-user
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: db-pass

            - name: MEMCACHED_HOST
              value: "memcached"        # match your memcached service name
            - name: MEMCACHED_PORT
              value: "11211"

            - name: RABBITMQ_HOST
              value: "rabbitmq"         # match your rabbitmq service name
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: rmq-user
            - name: RABBITMQ_PASS
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: rmq-pass

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 20
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 750m
              memory: 768Mi
